.myntra_header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  user-select: none;
}

.header_navigation {
  width: 50%;
  padding: 0 50px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.header_logo img {
  width: 53px;
  height: 36px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav_item {
  height: 12vh;
  display: grid;
  padding: 0 20px;
  place-items: center;
  cursor: pointer;
}

.nav_item_men:hover {
  border-bottom: 3px solid #ee5f73;
}
.nav_item_women:hover {
  border-bottom: 3px solid #fb56c1;
}
.nav_item_kids:hover {
  border-bottom: 3px solid #f26a10;
}
.nav_item_home:hover {
  border-bottom: 3px solid #f2c210;
}
.nav_item_beauty:hover {
  border-bottom: 3px solid #0db7af;
}
.nav_item_studio:hover {
  border-bottom: 3px solid #ff3f6c;
}

.header_nav {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header_search {
  flex: 1;
  position: relative;
}

.header_search input {
  width: 90%;
  height: 45px;
  background: #f5f5f6;
  border: none;
  outline: none;
  padding-left: 36px;
}

.header_items {
  display: flex;
}

.header_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.header_item:hover {
  transform: scale(1.1);
}

.header_item span {
  font-size: 12px;
}
